.main {
  display: flex;
}

.image {
  position: fixed;
  right: 100px;
  height: 70%;
}

.form {
  position: fixed;
  right: 500px;

  display: flex;

  flex-direction: column;

  gap: 3em;
}

.register {
  position: fixed;
  bottom: 100px;
}
@media (max-width: 880px) {
  .form {
    position: fixed;
    left: 3em;
    width: 40%;

    gap: 3em;
  }
}

@media (max-width: 700px) {
  .image {
    opacity: 0%;
  }
}
