.footer {
  position: relative;
  bottom: -500px;
}

.initFooter {
  position: fixed;
  bottom: 20px;
}

@media (max-width: 800px) {
  .initFooter {
    position: fixed;
    padding-left: 5em;
    bottom: -140px;
  }
  .footer {
    position: relative;
    padding-left: 5em;
    bottom: 60px;
  }
}

@media (max-width: 600px) {
  .footer {
    position: relative;
    bottom: 75px;
  }
}
