.footer {
  position: inherit;
  left: 250px;
  top: 100vh;
  bottom: 0px;
}

.initFooter {
  position: fixed;
  bottom: 0px;
}

@media (max-width: 800px) {
  .initFooter {
    position: fixed;
    padding-left: 5em;
    bottom: -140px;
  }
  .footer {
    position: relative;
    padding-left: 5em;
  }
}
