.input {
  height: 2em;
  width: 100%;
}

.main {
  position: fixed;
  top: 20px;
  right: 0px;
  padding: 0.5em;

  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 100;
}
.noSearch {
  opacity: 0%;
  z-index: -100;
}
.ul {
  display: flex;
  flex-direction: column;

  gap: 5px;
}
.liPhotos {
  height: 50px;

  display: flex;
  gap: 10px;
}
.img {
  height: 100%;
  width: 50px;
  border-radius: 0 2em;
}

@media (max-width: 800px) {
  .main {
    padding: 0.5em;
    position: absolute;
    width: 200px;
    right: 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 50;
  }
}

@media (max-width: 750px) {
  .main {
    position: fixed;
    margin-top: 3em;
    top: -50px;
    transition: top 0.3s;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
  }

  .hiddenMobile {
    display: none;
  }
}
