.input {
  width: 100%;
}

.main {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 0.5em;
  width: 13em;

  display: flex;
  flex-direction: column;
  gap: 2px;
  z-index: 1;
}
.noSearch {
  z-index: -100;
}
.error {
  color: red;
}
.ul {
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 5px;
}
.liPhotos {
  height: 50px;

  display: flex;
  gap: 10px;
}
.img {
  height: 100%;
  width: 50px;
  border-radius: 0 2em;
}

@media (max-width: 1000px) {
  .main {
    position: absolute;

    height: 50px;
    right: 0px;
  }
}

@media (max-width: 785px) {
  .main {
    transition: top 0.3s;
    margin-top: 0px;
    margin-left: -20px;
    width: 100%;
  }
  .hiddenBtn {
    position: relative;
    top: -42px;
    bottom: 0px;
    left: 90vh;
    width: 70px;
    background-color: white;
  }

  .hiddenMobile {
    display: none;
  }
}
