.grid-container {
  display: grid;
  grid-template-columns: 17.5% 62.5% 20%;
  grid-template-rows: auto 1fr auto; /* Agrega un row para el footer */
  grid-template-rows: 100vh; /* Ocupa el 100% de la altura de la pantalla */
}

.header {
  grid-column: 1;
  grid-row: 1;
  /* Estilos específicos para el encabezado si es necesario */
}

.main {
  grid-column: 2;
  grid-row: 1;
  /* Estilos específicos para el contenido principal si es necesario */
}

.searchInput {
  grid-column: 3;
  grid-row: 1;

  /* Estilos específicos para el espacio vacío si es necesario */
}

ul {
  list-style: none;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.custom-modal {
  max-width: none; /* Elimina el límite de ancho del modal */
  width: auto; /* Establece el ancho automático según el contenido */
  margin: 0; /* Elimina cualquier margen del modal */
}
.profile {
  position: relative;
  bottom: 100px;
}

@media (max-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-columns: 100vh;
    grid-template-rows: 17.5% 62.5% 20%; /* Ocupa el 100% de la altura de la pantalla */
  }
  .searchInput {
    grid-column: 1;
    grid-row: 1;

    /* Estilos específicos para el espacio vacío si es necesario */
  }

  .main {
    grid-column: 1;
    grid-row: 2;
    /* Estilos específicos para el contenido principal si es necesario */
  }
  .header {
    grid-column: 1;
    grid-row: 3;
    /* Estilos específicos para el encabezado si es necesario */
  }
}
