#root {
  width: 200px;
}

ul {
  list-style: none;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.custom-modal {
  max-width: none; /* Elimina el límite de ancho del modal */
  width: auto; /* Establece el ancho automático según el contenido */
  margin: 0; /* Elimina cualquier margen del modal */
}
.profile {
  position: relative;
  bottom: 30em;
  left: 200px;
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-left: 1px solid;
  border-right: 1px solid;
  border-color: rgb(232, 236, 240);
}

.photoProfileLi {
  position: relative;
  margin-top: 2em;
  border-bottom: 1px solid;
  border-color: rgb(232, 236, 240);
}

.imgProfile {
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;
}

.error {
  color: red;
}

@media (max-width: 980px) {
  .grid-container {
    display: grid;

    grid-template-columns: 100vh;
    grid-template-rows: 17.5% 62.5% 20%; /* Ocupa el 100% de la altura de la pantalla */
  }
  .searchInput {
    grid-column: 1;
    grid-row: 1;

    /* Estilos específicos para el espacio vacío si es necesario */
  }

  .main {
    grid-column: 1;
    grid-row: 2;
    /* Estilos específicos para el contenido principal si es necesario */
  }
  .header {
    grid-column: 1;
    grid-row: 3;
    /* Estilos específicos para el encabezado si es necesario */
  }
  .profile {
    position: relative;
    bottom: 0em;
    left: 150px;
  }
  .error {
    margin-top: 0px;
  }
}

.footer {
  bottom: 0px;
}

@media (max-width: 840px) {
  .profile {
    left: auto;
  }
}
